<!-- <h1>
    Swipe
</h1>
<br>
<div>
    <swiper fxFlex="auto" [config]="config">
        <div *ngFor="let slide of slides" class="swiper-slide">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                {{slide}}
            </div>
        </div>
    </swiper>
</div> 
<swiper fxFlex="auto" [config]="config">
    <div *ngFor="let slide of slides" class="swiper-slide">

        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
            {{slide}}
        </div>

    </div>
</swiper>
<swiper fxFlex="auto" [config]="config2">
    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper" style="transition: all 0ms ease 0s; transform: translate3d(-1366px, 0px, 0px);">
            <div class="swiper-slide " style="width: 1366px;">Slide 1</div>
            <div class="swiper-slide " style="width: 1366px;">Slide 2</div>
            <div class="swiper-slide " style="width: 1366px;">Slide 3</div>
            <div class="swiper-slide" style="width: 1366px;">Slide 4</div>
            <div class="swiper-slide" style="width: 1366px;">Slide 5</div>
            <div class="swiper-slide" style="width: 1366px;">Slide 6</div>
            <div class="swiper-slide" style="width: 1366px;">Slide 7</div>
            <div class="swiper-slide" style="width: 1366px;">Slide 8</div>
            <div class="swiper-slide" style="width: 1366px;">Slide 9</div>
            <div class="swiper-slide" style="width: 1366px;">Slide 10</div>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</swiper>
<swiper fxFlex="auto" [config]="config2">
    <div *ngFor="let slide of slides" class="swiper-slide">

        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
            {{slide}}
        </div>

    </div>
</swiper>
-->
<swiper fxFlex="auto" [config]="config2">
    <div *ngFor="let slide of slides">

        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
            {{slide}}
        </div>

    </div>
</swiper>